body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.home-background {
  background-image: url('https://github.com/MilenPG/PokeBerries-App/blob/main/assets/pixelgrass2.png?raw=true');
}

.locations-background {
  background-image: url('https://github.com/MilenPG/PokeBerries-App/blob/main/assets/pokebackground.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  margin: 0;
  background: ededed;
  display: flex;
  flex-direction: row;
}

a {
  color: rgba(0, 0, 0, 0.404);
  text-decoration: none;
  padding: 1.5%;
}

a:active {
  box-shadow: rgba(0, 0, 0, 0.493);
}

a:hover {
  color: rgba(0, 0, 0, 0.322);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2%;
}

main {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  align-self: flex-start;
  padding-bottom: 0;
}

h1 {
  margin: 0 0 0 2.1rem;
  color: #ededed;
  font-size: 2.1rem;
}

.berries-cards, ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 2%;
  padding: 2%;
  background: 0e0e0e;
  color: rgb(20, 20, 20);
  height: 200px;
  width: 150px;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #ededed;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.30); 
}

.card-title {
  margin-top: 1rem;
  /*font-family: "Doppio One", sans-serif;*/
  font-size: 1.2rem;
  text-transform: uppercase;
}

/*.card-img {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  object-fit: cover;
}*/

/*.like-button {
  padding: 2% 3%;
  border-radius: 15px;
  background: #ededed;
  color: #001520;
  font-weight: bold;
}*/


